@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
@-webkit-keyframes bottom_bar {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}
@keyframes bottom_bar {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Alata", sans-serif;
}

.hero_header {
  padding-inline: 1.5rem;
  padding-top: 2.5rem;
  width: 100%;
  height: 40.625rem;
  background-image: url("../../images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 600px) {
  .hero_header {
    background-image: url("../../images/desktop/image-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 800px) {
  .hero_header {
    padding-inline: 4rem;
  }
}

@media (min-width: 1400px) {
  .hero_header {
    padding-inline: 10.25rem;
  }
}

.hero_header .overlay {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  left: 0;
  top: 0;
}

.hero_header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (min-width: 1024px) {
  .hero_header nav {
    margin-top: 1.5rem;
  }
}

.hero_header nav .logo {
  width: 9rem;
}

@media (min-width: 1024px) {
  .hero_header nav .logo {
    height: 2.125rem;
    width: auto;
  }
}

@media (min-width: 1024px) {
  .hero_header nav .hamburger {
    display: none;
  }
}

@media (max-width: 1023px) {
  .hero_header .a_tags {
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 11.5rem;
    z-index: 1;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .hero_header .a_tags {
    display: block;
  }
}

.hero_header .a_tags a {
  position: relative;
  text-decoration: none;
  color: white;
}

@media (max-width: 1023px) {
  .hero_header .a_tags a:not(:first-child) {
    margin-top: 1.875rem;
  }
}

@media (min-width: 1024px) {
  .hero_header .a_tags a:not(:last-child) {
    margin-right: 1.75rem;
  }
  .hero_header .a_tags a:hover::after {
    content: "";
    position: absolute;
    height: 0.2rem;
    background-color: white;
    bottom: -1rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-animation: bottom_bar 0.2s linear forwards;
            animation: bottom_bar 0.2s linear forwards;
  }
}

.hero_header .intro {
  padding: 1.5rem;
  border: 2px solid white;
  margin-top: 10.125rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 600px) {
  .hero_header .intro {
    width: 70%;
    padding: 1.5rem 2rem;
  }
}

@media (min-width: 1024px) {
  .hero_header .intro {
    width: 40.75rem;
    padding: 2.5rem 3rem;
  }
}

.hero_header .intro span {
  font-size: 1.875rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

@media (min-width: 600px) {
  .hero_header .intro span {
    font-size: 2.5rem;
  }
}

@media (min-width: 800px) {
  .hero_header .intro span {
    font-size: 3rem;
    letter-spacing: 0.2rem;
  }
}

@media (min-width: 1024px) {
  .hero_header .intro span {
    font-size: 4rem;
    letter-spacing: 0.2rem;
  }
}
/*# sourceMappingURL=styles.css.map */